.screen-header {
  padding: var(--horizontal-space);
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons {
  position: relative;
}

.screen-header__notification-cog {
  background-color: red;
  color: red;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 73px;
  top: -5px;
}
